<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'História počasia - Lipová alej -  ' + ${time} "></title>
</head>
<body style="width:75%; height:75%">
<div>
    <canvas id="line-chart"></canvas>
</div>
<script src="Chart.bundle.min.js"></script>
<script th:inline="javascript">

    var labels = /*[[${labels}]]*/ 'default';
    var temperature = /*[[${temperature}]]*/ 'default';
    var humidity = /*[[${humidity}]]*/ 'default';
    var pressure = /*[[${pressure}]]*/ 'default';
    var time = /*[[${time}]]*/ 'default';

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                data: temperature,
                label: "Teplota (°C)",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: humidity,
                label: "Vlhkosť (%)",
                borderColor: "#8e5ea2",
                fill: false
            }, {
                data: pressure,
                label: "Tlak (hPa)",
                borderColor: "#3cba9f",
                fill: false,
                hidden: true
            }]
        },
        options: {
            title: {
                display: true,
                text: time
            }
        }
    });
</script>
</body>
</html>
